<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<html>
  <head>
    <title>About page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <a href="/about">About Us</a>
      <a href="/maingame">Main Game</a>
    </div>
  </head>
  <body>
    <h1 style="text-align:center;"> Team Members </h1>
      <p style="text-align:center">
      <br>Kevin Paredes <br>
      <br>Henok Kassegn <br>
      <br> Manny Murcia <br>
      <br> Timothy Chan <br>
      <br> Zanlian Jiang </p>
  </body>
</html>
