<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/about">About Us</a>
        <a href="/maingame">Main Game</a>

    </div>
</head>
<body>
<h1 style = "text-align:center;"> Battleship Game Demo </style></h1>
<br>
 <div class="gamedemo">
    <iframe  width="420" height="345" src="https://www.youtube.com/embed/rS9yFxGEtVI?autoplay=1"
             style="border:5px solid navy;"> </iframe>
</div>


<div class="footer">
    <p>Spring 2019 CSC667-Battleship Game</p><a href="/about">About Us</a>
</div>
</body>

</html>



