doctype html
html
  head
    title= title
    br
    a(href='/signup') Home
    br
    a(href='/signup') Login
    br 
    a(href='/signup') Sign Up
    br
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login.css')

    
  body
block content
